---
---

html {
}

body {
  margin: 0;
  padding: 0;
  font: 22px/1.25 -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  min-height: -webkit-fill-available;
}

.Wrapper {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  align-items: center;
}

.Splash {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.Splash-inner {
  padding: 20px;
}

.Splash-heading {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
}

.Splash-description {
  margin: 0;

  br {
    display: none;
  }
}

@media screen and (min-width: 450px) {
  .Splash-description br {
    display: inline;
  }
}
